<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}My App{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="app">

  <!-- MENU (VISIBLE EVERYWHERE) -->
  <div class="sidebar">
    <h1>Trading Futures</h1>

    <a class="menu-item" href="{{ url_for('dashboard') }}">
      📊 Dashboard
    </a>

    <a class="menu-item" href="{{ url_for('Journal') }}">
      📔 Journal
    </a>

    <a class="menu-item" href="{{ url_for('upload_file') }}">
      ➕ New trades
    </a>
  </div>

  <!-- PAGE CONTENT -->
  <div class="main">
    {% block content %}{% endblock %}
  </div>

</div>
</body>
</html>
