{% extends "base.html" %}

{% block title %}Journal{% endblock %}

{% block content %}

<h2>Trade Journal</h2>

<div style="margin-bottom: 10px; display: flex; align-items: center; gap: 8px;">
  <label>
    From:
    <input type="date" id="dateFrom">
  </label>

  <label>
    To:
    <input type="date" id="dateTo">
  </label>

  <button id="date-btn" class="date-btn">Apply Dates</button>
  <button id="resetSort" class="reset-btn">Reset Filter/Sorting</button>
</div>


<!-- table -->
<table id="tradeTable">
  <thead>
    <tr id="headerRow"></tr>
  </thead>
  <tbody></tbody>
</table>

<!-- include the external JS file -->
<script type="module" src="{{ url_for('static', filename='js/journal.table.js') }}"></script>

{% endblock %}
